<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.leo.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://172.18.0.2/emp_ms?autoReconnect=true"/>
                <!--<property name="url" value="jdbc:mysql://120.46.152.103/emp_ms?autoReconnect=true"/>-->
                <property name="username" value="emp"/>
                <property name="password" value="emPr1nt"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--扫描mapper-->
        <package name="com.leo.mapper"/>
    </mappers>
</configuration>