<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-row {
            margin-bottom: 20px;
        }

        .el-col {
            border-radius: 4px;
        }

        .bg-purple-dark {
            background: #99a9bf;
        }

        .bg-purple {
            background: #d3dce6;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }

        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }

        .el-aside {
            color: #333;
        }
    </style>
</head>
<body>

<div id="main">
    <el-container style="height: 720px; border: 1px solid #eee">
        <el-container>
            <el-header style="text-align: right; font-size: 12px">

                <el-button type="primary" plain style="float: left; position: relative ;top: 10px"
                           @click="addEmployeeButton">添加员工
                </el-button>
                <el-button type="primary" plain style="float: left; position: relative ;top: 10px; left: 10px"
                           @click="reviseJobSalary">薪资管理
                </el-button>
                <el-button type="primary" plain style="float: left; position: relative ;top: 10px; left: 20px"
                           @click="addJobButton">添加职位
                </el-button>
                <!--行内搜索表单-->
                <el-form :inline="true"
                         :model="queryInfo"
                         label-position="middle" class="demo-form-inline"
                         style="width:200px; height: 60px; position:relative; margin: auto;float: left;left: 100px">
                    <!--                    <el-form-item label="性别" style="height:100%; ">-->
                    <!--                        <el-select v-model="queryInfo.sex" placeholder="性别"-->
                    <!--                                   style="width:100px; height: 60px; position: relative ;top: 10px">-->
                    <!--                            <el-option label="男" value="male"></el-option>-->
                    <!--                            <el-option label="女" value="female"></el-option>-->
                    <!--                        </el-select>-->
                    <!--                    </el-form-item>-->
                    <el-form-item label="员工姓名" style="height:100%">
                        <el-input v-model="queryInfo.name" placeholder="员工姓名"
                                  style="width:120px; height:60px;float: left ; position: relative ;top: 10px"></el-input>
                    </el-form-item>
                    <el-form-item style="float: left; position: absolute; right: -100px; top: 10px">
                        <el-button type="primary" @click="query">查询</el-button>
                    </el-form-item>
                </el-form>
                <div style="float: left; position: relative; right: -400px">
                    <span style="text-align: center; font-size: 30px;">{{this.selfInfo.name}}, 欢迎您</span>
                </div>
                <el-button type="danger" round @click="logout">退出登录</el-button>
            </el-header>
            <!--职位薪资管理表单-->
            <el-dialog
                    title="职位工资管理"
                    :visible.sync="reviseJobSalaryVisible"
                    width="20%">
                <el-form ref="form" :model="reviseJobSalaryData" label-width="45px">
                    <el-form-item label="职位">
                        <el-select v-model="reviseJobSalaryData.job_name" placeholder="请选择员工职位">
                            <el-option v-for="job in jobList" :value="job.job_name"
                            >{{job.job_name}}: {{job.salary}}
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="薪资">
                        <el-input v-model="reviseJobSalaryData.salary" size="medium" style="width: 100%"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitJobSalary">修改</el-button>
                        <el-button @click="reviseJobSalaryVisible = false">取消</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
            <!--添加职位表单-->
            <el-dialog
                    title="添加职位"
                    :visible.sync="addJobVisible"
                    width="20%">
                <el-form ref="form" :model="newJob" label-width="80px">
                    <el-form-item label="职位名称">
                        <el-input v-model="newJob.job_name"></el-input>
                    </el-form-item>
                    <el-form-item label="职位薪资">
                        <el-input v-model="newJob.salary"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitNewJob">修改</el-button>
                        <el-button @click="addJobVisible = false">取消</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>

            <!--添加员工表单-->
            <el-dialog
                    title="添加员工"
                    :visible.sync="dialogVisible"
                    width="30%">
                <el-form ref="form" :model="newEmpInfo" label-width="80px">
                    <el-form-item label="员工名称">
                        <el-input v-model="newEmpInfo.name"></el-input>
                    </el-form-item>

                    <el-form-item label="员工密码">
                        <el-input v-model="newEmpInfo.passwd" value="123456"></el-input>
                    </el-form-item>

                    <el-form-item label="出生日期">
                        <el-col>
                            <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="选择日期"
                                            v-model="newEmpInfo.birth" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="性别">
                        <el-radio-group v-model="newEmpInfo.sex">
                            <el-radio label="男"></el-radio>
                            <el-radio label="女"></el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="联系方式">
                        <el-input v-model="newEmpInfo.tel"></el-input>
                    </el-form-item>
                    <el-form-item label="身份证号">
                        <el-input v-model="newEmpInfo.cardId" placeholder="身份证号"></el-input>
                    </el-form-item>
                    <el-form-item label="联系地址">
                        <el-input v-model="newEmpInfo.address"></el-input>
                    </el-form-item>
                    <el-form-item label="职位" :data="jobs">
                        <el-select v-model="newEmpInfo.job_name" placeholder="请选择员工职位">
                            <el-option v-for="job in jobs" :value="job">{{job}}</el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="submitEmployee">添加</el-button>
                        <el-button @click="dialogVisible = false">取消</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
            <!--员工详细信息表单-->
            <el-dialog title="员工信息"
                       :visible.sync="detailInfoVisible"
                       width="30%">
                <el-form ref="form" :model="detailInfoData" label-width="80px">
                    <el-form-item label="员工名称">
                        <el-input v-model="detailInfoData.name"></el-input>
                    </el-form-item>
                    <el-form-item label="员工密码">
                        <el-input v-model="detailInfoData.passwd" value="123456"></el-input>
                    </el-form-item>
                    <el-form-item label="出生日期">
                        <el-col>
                            <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="选择日期"
                                            v-model="detailInfoData.birth" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="性别">
                        <el-radio-group v-model="detailInfoData.sex">
                            <el-radio label="男"></el-radio>
                            <el-radio label="女"></el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="奖金率">
                        <el-input v-model="detailInfoData.rate"></el-input>
                    </el-form-item>
                    <el-form-item label="工资">
                        <span>{{detailInfoData.salary}}</span>
                        <!--                        <el-input v-model="detailInfoData.salary"></el-input>-->
                    </el-form-item>
                    <el-form-item label="联系方式">
                        <el-input v-model="detailInfoData.tel"></el-input>
                    </el-form-item>
                    <el-form-item label="身份证号">
                        <el-input v-model="detailInfoData.cardId" placeholder="身份证号"></el-input>
                    </el-form-item>
                    <el-form-item label="联系地址">
                        <el-input v-model="detailInfoData.address"></el-input>
                    </el-form-item>
                    <el-form-item label="职位" :data="jobs">
                        <el-select v-model="detailInfoData.job_name" placeholder="请选择员工职位">
                            <el-option v-for="job in jobs" :value="job">{{job}}</el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="reviseEmp">提交</el-button>
                        <el-button @click="detailInfoVisible = false">取消</el-button>
                    </el-form-item>
                </el-form>
                <!--                <el-descriptions title="垂直带边框列表" direction="vertical" :column="4" border>-->
                <!--                    <el-descriptions-item label="用户名">{{detailInfoData.id}}</el-descriptions-item>-->
                <!--                    <el-descriptions-item label="手机号">18100000000</el-descriptions-item>-->
                <!--                    <el-descriptions-item label="居住地" :span="2">苏州市</el-descriptions-item>-->
                <!--                    <el-descriptions-item label="备注">-->
                <!--                        <el-tag size="small">学校</el-tag>-->
                <!--                    </el-descriptions-item>-->
                <!--                    <el-descriptions-item label="联系地址">江苏省苏州市吴中区吴中大道 1188 号</el-descriptions-item>-->
                <!--                </el-descriptions>-->
            </el-dialog>


            <el-main>
                <!--stripe: 斑马纹, border: 边框-->
                <el-table :data="AllEmpInfo" stripe height="100%" @row-click="rowDetail" slot-scope="scope">
                    <el-table-column type="index" width="80" align="center">
                    </el-table-column>
                    <el-table-column prop="name" label="姓名" width="120" align="center" sortable>
                    </el-table-column>
                    <el-table-column prop="id" label="工号" width="90" align="center" sortable>
                    </el-table-column>
                    <el-table-column prop="sex" label="性别" width="80" align="center" sortable>
                    </el-table-column>
                    <el-table-column prop="tel" label="电话号码" width="200" align="center">
                    </el-table-column>
                    <el-table-column prop="birth" label="出生日期" width="150" align="center" sortable>
                    </el-table-column>
                    <el-table-column prop="address" label="地址" align="center">
                    </el-table-column>
                    <el-table-column prop="job_name" label="职位" width="150" align="center" sortable>
                    </el-table-column>
                    <el-table-column align="center" label="查看" width="120">
                        <template>
                            <el-button type="success" @click="detailInfo(scope.row)">详细信息</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column align="center" label="操作" width="120">
                        <template slot-scope="scope">
                            <!--                            <el-button type="primary" @click="detailInfo(scope.row)">修改</el-button>-->
                            <el-button type="danger" @click.stop="deleteEmpById(scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </el-container>

</div>


<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#main",
        mounted() {
            this.selfInfo = JSON.parse(sessionStorage.getItem("depManager"));
            this.selectAllJob();
            this.selectAll();
        },
        methods: {
            query() {
                if (this.queryInfo.name === "") {
                    this.selectAll();
                } else {
                    this.queryInfo.dep_id = this.selfInfo.dep_id;
                    axios.get("http://localhost/dep/searchEmployeesByName?name=" + this.queryInfo.name +
                        "&dep_id=" + this.queryInfo.dep_id).then(res => {
                        this.AllEmpInfo = res.data;
                    })
                }
            },
            logout() {
                sessionStorage.clear();
                location.href = "index.html";
            },
            rowDetail(row, event, column) {
                this.detailInfo(row);
            },
            detailInfo(row) {
                this.detailInfoVisible = true;
                this.detailInfoData = row;
            },
            // 修改职位工资按钮
            reviseJobSalary() {
                axios.get("http://localhost/dep/selectJobInfos?dep_id=" + this.selfInfo.dep_id).then(res => {
                    this.jobList = res.data.slice(1);
                });
                this.reviseJobSalaryVisible = true;
            },
            // 修改职位工资
            submitJobSalary() {
                axios.post("http://localhost/dep/updateJobSalary", this.reviseJobSalaryData).then(res => {
                    this.selectAll();
                    if ('success' === res.data.msg) {
                        this.success("修改成功");
                    }
                });
                console.log(this.reviseJobSalaryData);
                // 获取job_id
                for (let i = 0; i < this.jobList.length; i++) {
                    if (this.jobList[i].job_name === this.reviseJobSalaryData.job_name) {
                        this.reviseJobSalaryData.id = this.jobList[i].id;
                        break;
                    }
                }
                this.reviseJobSalaryVisible = false;
            },
            submitEmployee() {
                // console.log(this.newEmpInfo);
                // let birthDate = new Date(this.newEmpInfo.birth);
                // let nowDate = new Date();
                // this.newEmpInfo.age = nowDate.getFullYear() - birthDate.getFullYear();

                // 新建员工不需要id
                // this.newEmpInfo.id = Number(this.newEmpInfo.id);

                this.newEmpInfo.dep_id = this.selfInfo.dep_id;

                // 提交数据
                axios.post('http://localhost/dep/addEmp', this.newEmpInfo).then(res => {
                    if (res.data.msg === 'success') {
                        this.success('添加成功,  ' + '员工号为: ' + res.data.id);
                    }
                    console.log(res.data);
                });
                this.selectAll();

                this.dialogVisible = false;

                // 重新查询数据
            },
            reviseEmp() {
                console.log(this.detailInfoData);
                axios.post('http://localhost/dep/updateEmp', this.detailInfoData).then(res => {
                    if (res.data.msg === 'success') {
                        this.success('修改成功');
                    }
                });
                this.detailInfoVisible = false;
            },
            addEmployeeButton() {
                // // 获取职位信息
                // axios.get("http://localhost/dep/selectJobNames?dep_id=" + this.selfInfo.dep_id).then(res => {
                //     this.jobs = res.data.slice(1);
                // });
                this.selectAllJob();
                // 显示对话框
                this.dialogVisible = true;
            }
            ,
            addJobButton() {
                this.addJobVisible = true;
            }
            ,
            submitNewJob() {
                this.newJob.dep_id = this.selfInfo.dep_id;
                axios.post('http://localhost/dep/insertJob', this.newJob).then(res => {
                    if (res.data.msg === 'success') {
                        this.success('添加成功, 职位编号为: ' + res.data.id);
                    }
                });
                this.addJobVisible = false;
            },
            deleteEmpById(row) {
                if (row.id === this.selfInfo.id) {
                    this.errorMessage('不能删除自己');
                    return;
                }
                this.$confirm('此操作将永久删除该员工, 是否继续?', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get("http://localhost/dep/deleteEmployee?emp_id=" + row.id).then(res => {
                        if (res.data.msg !== 'success') {
                            this.errorMessage('删除失败');
                        } else {
                            this.success('删除成功');
                            this.selectAll();
                        }
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            success(msg) {
                this.$message({message: msg, type: 'success'});
            },
            errorMessage(msg) {
                this.$message.error(msg);
            },
            selectAll() {
                // 获取所有员工信息
                axios.get("http://localhost/dep/selectAllEmp?dep_id=" + this.selfInfo.dep_id).then(resp => {
                    this.AllEmpInfo = resp.data;
                })
            },
            selectAllJob() {
                // 获取职位名称信息
                axios.get("http://localhost/dep/selectJobNames?dep_id=" + this.selfInfo.dep_id).then(res => {
                    this.jobs = res.data.slice(1);
                });
            }

        },
        data() {
            const item = {
                address: "北华大学北校区",
                birth: "2020-04-10",
                cardId: "318153987998798799",
                dep_id: 2,
                id: 8002,
                job_id: 10,
                job_name: "人事部主管",
                manager_id: "8002",
                name: "范明俊",
                passwd: "020416",
                rate: 0.6,
                salary: 20000,
                sex: "男",
                tel: "15464656546"
            };
            return {
                selfInfo: {
                    name: '测试人',
                    dep_id: 2,
                    id: 8002,
                },
                // 所有员工信息
                AllEmpInfo: [item],
                // 行内表单数据, 检索信息
                queryInfo: {
                    name: '',
                    dep_id: '',
                },
                // 添加员工对话框是否展示
                dialogVisible: false,
                addJobVisible: false,
                detailInfoVisible: false,
                reviseJobSalaryVisible: false,
                detailInfoData: {
                    name: 'test',
                },
                // 表单数据
                newEmpInfo: {
                    id: '',
                    name: '',
                    passwd: '123456',
                    age: '',
                    sex: '',
                    cardId: '',
                    birth: '',
                    address: '',
                    tel: '',
                    job_id: '',
                    dep_id: ''
                },
                newJob: {},
                jobs: [1, 2, 3, 4, 5],
                // 修改职位薪资对话框展示时获取的职位信息
                jobList: [{
                    id: 1,
                    job_name: '经理',
                    dep_id: 1,
                    salary: 20000,
                }],
                // 修改职位薪资对话框提交的职位信息
                reviseJobSalaryData: {id: '', job_name: '', salary: ''},
                // 员工信息, 待删除
                AllEmpInfo1: Array(20).fill(item)
            }
        }
    })
</script>


</body>
</html>