<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人事管理-登录</title>
    <link rel="icon" href="https://img-blog.csdnimg.cn/d5f329569c244c1fa35a2a07a5a9fa23.png" type="image/x-icon">
</head>
<body style="background: #B3D8FF">
<div id="loginForm">
    <div id="title"><span style=""></span></div>
    <el-card class="box-card"
             style="width: 400px;
                    height: 360px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;">
        <div slot="header" class="clearfix">
            <span style="text-align: left; font-size: 30px">人事工资管理系统</span>
            <label style="position: relative; left: 24px;"><span>管理员</span>
                <el-switch v-model="manager" @change="clickManager"
                           style="position: relative; left:3px;right: -50px"></el-switch>
            </label>
        </div>
        <el-form :model="userForm" status-icon :rules="rules" ref="userForm" label-width="100px"
                 class="demo-userForm"
                 style="width: 100%; height: 100%;  position: relative; left: -30px; top: 32px">
            <el-form-item :label="idType" prop="id">
                <el-input type="text" v-model="userForm.id" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="passwd">
                <el-input type="password" v-model="userForm.passwd" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('userForm')">提交</el-button>
                <el-button @click="resetForm('userForm')">重置</el-button>
            </el-form-item>
        </el-form>
    </el-card>
</div>


<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#loginForm",
        mounted() {
            sessionStorage.clear();
            this.loginByCookie();
        }, methods: {
            loginByCookie() {
                axios.get("http://" + this.host + "/auth/ck_login").then(resp => {
                    console.log(resp)
                    if (resp.data !== 'false') {
                        return;
                    }
                    if (resp.data.id === -1) {
                        // 管理员默认id为-1
                        sessionStorage.setItem('managerInfo', resp.data);
                        window.location.href = 'managerHome.html';
                    } else {
                        // 登录成功
                        let userForm = resp.data;
                        // 判断员工类型
                        if (userForm.id === userForm.manager_id) {
                            // 跳转到部门主管页面
                            // 结构变革: 登录时调用api, 在servlet中设置session, 而不返回用户信息, 只返回登录状态
                            sessionStorage.setItem('depManager', JSON.stringify(resp.data));
                            window.location.href = 'depManagerHome.html';
                        } else {
                            // 跳转到员工页面
                            sessionStorage.setItem('employee', JSON.stringify(resp.data));
                            window.location.href = 'empHome.html';
                        }
                    }
                })
            },
            clickManager() {
                if (this.manager === true)
                    this.idType = '账号'
                else
                    this.idType = '工号'
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (this.manager) {
                            // 管理员登录
                            this.userForm.name = this.userForm.id;
                            this.userForm.id = null;
                            // this.userForm.id = 'null';
                            axios.post("http://" + this.host + "/man/login", this.userForm).then(resp => {
                                console.log(resp.data);
                                if ('success' === resp.data) {
                                    sessionStorage.setItem('managerInfo', JSON.stringify(this.userForm));
                                    window.location.href = 'managerHome.html';
                                } else
                                    this.$message.error('登录失败, 用户名或密码错误');
                            })
                        } else {
                            // 员工登录
                            this.userForm.id = Number(this.userForm.id)
                            console.log(this.userForm);
                            axios.post("http://" + this.host + "/emp/login", this.userForm).then(resp => {
                                console.log(resp.data);
                                // todo 逻辑问题 空响应也会跳转
                                if (false !== resp.data) {
                                    // 登录成功
                                    let userForm = resp.data;
                                    // // 判断员工类型
                                    // if (userForm.id === userForm.manager_id) {
                                    //     // 跳转到部门主管页面
                                    //     // 结构变革: 登录时调用api, 在servlet中设置session, 而不返回用户信息, 只返回登录状态
                                    //     sessionStorage.setItem('depManager', JSON.stringify(resp.data));
                                    //     window.location.href = 'depManagerHome.html';
                                    // } else {
                                    //     // 跳转到员工页面
                                    //     sessionStorage.setItem('employee', JSON.stringify(resp.data));
                                    //     window.location.href = 'empHome.html';
                                    // }
                                } else
                                    this.$message.error('登录失败, 用户名或密码错误');
                            })
                        }
                        // console.log(this.userForm)
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }, data() {
            let checkId = (rule, value, callback) => {
                if (!this.manager && !/^8[0-9]{3}$/.test(this.userForm.id))
                    // 普通员工 验证员工号
                    callback(new Error('员工号不正确'))
                else {
                    if (value === '') {
                        callback(new Error('请输入' + this.idType));
                    } else
                        callback();
                }
            };

            let checkPass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('密码不能为空'));
                } else {
                    callback();
                }
            };
            return {
                // host: '120.46.152.103:8080',
                // host: '127.0.0.1:8080/Emp_ms_war',
                host: '127.0.0.1',
                // host: 'wzzleo.vaiwan.com',
                manager: false,
                idType: '工号',
                userForm: {
                    id: '',
                    passwd: '',
                },
                rules: {
                    id: [
                        {validator: checkId, trigger: 'blur'}
                    ],
                    passwd: [
                        {validator: checkPass, trigger: 'blur'}
                    ]
                },
            };
        },
    })
</script>

</body>
</html>
